html {
  height: 100%;
}

body {
  background-image: url("../img/background.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-color: slategray;
}

h1 {
  text-align: center;
  margin-top: 25%;
  color: white;
  font-size: 6vw;
}

h2 {
  text-align: center;
  color: lightgray;
  font-size: 4vw;
  font-weight: lighter;
}

h3 {
  text-align: center;
  font-size: 3vw;
  color: white;
}


h4 {
  text-align: center;
  color: lightgray;
  font-weight: lighter;
  font-size: 2.5vw;
}

h5 {
  font-size: 1.5vw
  font-weight: bolder;
  padding-top: 30px;
}

img {
  display: block;
  margin: auto;
  width: 40%;
  height: 40%;
}

a {
  font-size: 1.8vw;
  color: white;
}

p {
  color: lightgray;
  font-size: 1.5vw
}

li {
  color: lightgray;
  font-size: 1.5vw;
}

.highlight {
  color: yellowgreen;
}

.heading {
  margin-top: 10%;
  margin-bottom: 3%;
}

.top-padding {
  padding-top: 4%;
}

.glyphicon glyphicon-menu-up {
  color: yellowgreen;
}

.button {
  background-color: yellowgreen;
  margin-left: 5%;
  border-style: outset;
  border-radius: 20%;
  color: white;
}


#portfolio {
  text-align: center;
  font-size: 3vw;
  color: white;
  margin-top: 30%;
  
}

#ofcourse {
  padding-left: 30px;
}

#back-to-top {
  float: left;
  text-align: center;
  padding-left: 5%;
}
